# Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

# Url Amigables

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?ruta=$1

# Forzar https

RewriteEngine On
RewriteCond %{HTTP_HOST} ciaelemental\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.ciaelemental.com/$1 [R,L]